html {
  background-color: #383838;
}
.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.guid-colors-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.guid-colors-parent > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 12px;
  opacity: 0.9;
}

.guid-colors1,
.guid-colors2,
.guid-colors3,
.guid-colors4 {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  display: inline-block;
}

.guid-colors1 {
  background-color: lightblue;
  margin: 0 5px;
}

.guid-colors2 {
  background-color: rgb(249, 51, 51);
  margin: 0 5px;
}

.guid-colors3 {
  background-color: #ff6f3c;
  margin: 0 5px;
}

.guid-colors4 {
  background-color: yellow;
  margin: 0 5px;
}
